<div
  class="min-w-scrren min-h-screen bg-indigo-400 flex items-center justify-center px-5 py-5"
>
  <div
    class="w-full mx-auto rounded-xl shadow-xl text-gray-800 relative overflow-hidden"
    style="max-width: 350px"
  >
    <h1 class="text-center text-white py-10 text-3xl font-bold font-mono">
      Calculator
    </h1>

    <!-- screen -->
    <div
      class="w-full h-40 bg-gradient-to-b from-gray-800 to-indigo-800 text-right"
    >
      <!-- calculator functions screen -->
      <div class="w-full py-5 px-6 text-2xl text-white font-thin">
        Functions
      </div>
      <!-- calculator numbers screen -->
      <div class="w-full py-5 px-6 text-white font-thin">100</div>
    </div>
    <!-- end calculator screen -->

    <!-- calculator buttons area -->
  </div>
</div>
